{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "SqlConnectionString": "Server=localhost,1433;Database=BcpExchange;User Id=sa;Password=ReplaceWithAStrongPassword;TrustServerCertificate=True"
  }
}
